{% extends 'blog/base_blog.html' %}

{% block title %}
    Delete Tag."{{ tag.title|title }}" - {{ block.super}}
{% endblock %}

{% block content%}
<!--<form action="{% url 'tag_delete_url'  slug=tag.slug %}" method="post">-->
<form action="{{ tag.get_delete_url }}" method="post">

    {% csrf_token %}
    <!--Промежуточный слой CSRF и шаблонный тег предоставляют легкую-в-использовании защиту против
        Межсайтовой подделки запроса.-->
    <h3> Ara you sore you want to delete <b>"{{ tag.title|title }}"</b> tag? </h3>

    <!--<a href="{% url 'tag_detail_url' slug=tag.slug %}">Cancel</a>-->
    <a href="{{ tag.get_absolute_url }}">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete Tag</button>
</form>

{% endblock %}

