{% extends 'blog/base_blog.html' %}

{% block title %}
Tag Create. - {{ block.super}}
{% endblock %}

{% block content%}
<form action="{% url 'tag_create_url' %}" method="post">

    {% csrf_token %}
    <!--Промежуточный слой CSRF и шаблонный тег предоставляют легкую-в-использовании защиту против
        Межсайтовой подделки запроса.-->

    {% for field in form %}
        <div class="form-group">
            {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors}}
            </div>
            {% endif%}

            {{ field.label }}
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Create Tag</button>
</form>

{% endblock %}

