{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %}
        Blog Engine
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
            <!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'posts_list_url' %}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
            </li>

            <li class="nav-item">
                <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <a class="nav-link disabled" href="#"></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'posts_list_url' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container mt-4">
    <div class="row">
        <div class="col-6 offset-md-2">

            {% block content%}
            There is no any content for you.
            {% endblock %}

            {% if is_paginated%}
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item {% if not prev_url %} disabled {% endif %}">
                            <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
                        </li>

                        <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
                        <!--<li class="page-item active">-->
                            <!--<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
                        <!--</li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->

                        <!--    % for n in posts.paginator.page_range%}-->
                        <!--    % if posts.number == n %}-->

                        {% for n in page_object.paginator.page_range%}
                            {% if page_object.number == n %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                                </li>
                            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <li class="page-item {% if not next_url %} disabled {% endif %}">
                            <a class="page-link" href="{{ next_url }}" tabindex="-1">Next</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}

        </div>
    </div>
</div>
{% if request.user.is_authenticated and request.user.is_staff %}
<div class="admin-panel align-items-center">
    <a href="/admin" class="btn btn-outline-info">Admin</a>
    {% block admin-panel %}{% endblock %}
</div>
{% endif %}


</body>
</html>

